cython
numpy
multidict
attrs
pandas
yarl
async-timeout
requests
Pillow
idna_ssl
charset-normalizer
aiosignal
torch
torchvision
torchaudio
pytorch-lightning
wandb
tqdm
scikit-learn
scikit-image
matplotlib
opencv-python
scikit-video
sk-video
scipy
lightning[extra]
transformers
accelerate
openpyxl
sentence-transformers
av